[Desktop Entry]
Name=Audio Volume (Win7 Mixer)
Name[ast]=Volume d'audiu (Win7 Mixer)
Name[ca]=Volum de l'àudio (Win7 Mixer)
Name[ca@valencia]=Volum de l'àudio (Win7 Mixer)
Name[cs]=Hlasitost zvuku (Win7 Mixer)
Name[da]=Lydstyrke (Win7 Mixer)
Name[de]=Lautstärke (Win7 Mixer)
Name[el]=Ένταση ήχου (Win7 Mixer)
Name[en_GB]=Audio Volume (Win7 Mixer)
Name[es]=Volumen del sonido (Win7 Mixer)
Name[et]=Helitugevus (Win7 Mixer)
Name[fi]=Äänenvoimakkuus (Win7 Mixer)
Name[gl]=Volume do son (Win7 Mixer)
Name[it]=Volume audio (Win7 Mixer)
Name[ko]=오디오 음량 (Win7 Mixer)
Name[lt]=Garsumas (Win7 Mixer)
Name[nl]=Geluidsvolume (Win7 Mixer)
Name[nn]=Lydstyrke (Win7 Mixer)
Name[pa]=ਆਡੀਓ ਵਾਲੀਅਮ (Win7 Mixer)
Name[pl]=Głośność dźwięku (Win7 Mixer)
Name[pt]=Volume do Áudio (Win7 Mixer)
Name[pt_BR]=Volume do áudio (Win7 Mixer)
Name[ru]=Громкость (Win7 Mixer)
Name[sk]=Hlasitosť zvuku (Win7 Mixer)
Name[sl]=Glasnost zvoka (Win7 Mixer)
Name[sr]=Јачина звука (Win7 Mixer)
Name[sr@ijekavian]=Јачина звука (Win7 Mixer)
Name[sr@ijekavianlatin]=Jačina zvuka (Win7 Mixer)
Name[sr@latin]=Jačina zvuka (Win7 Mixer)
Name[sv]=Ljudvolym (Win7 Mixer)
Name[uk]=Гучність (Win7 Mixer)
Name[x-test]=xxAudio Volumexx (Win7 Mixer)
Name[zh_CN]=音频音量 (Win7 Mixer)
Name[zh_TW]=音效音量 (Win7 Mixer)
Comment=

Icon=org.kde.plasma.volume
Type=Service
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-Plasma-ConfigPlugins=kcm_pulseaudio

X-KDE-PluginInfo-Name=org.kde.plasma.volumewin7mixer
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Author=Harald Sitter + Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Version=19
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applets/tree/master/org.kde.plasma.volumewin7mixer
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
