[Desktop Entry]
Name=Updates (Terminal)
Comment=Helps you keep your system up to date
Encoding=UTF-8

Icon=update-none
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=com.github.zren.terminalupdate
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applets/tree/master/terminalupdate
X-KDE-PluginInfo-Category=Online Services
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL

X-KDE-PluginInfo-OrigName=org.kde.discovernotifier
X-KDE-PluginInfo-OrigAuthor=The Plasma Team
X-KDE-PluginInfo-OrigEmail=plasma-devel@kde.org

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-NotificationArea=true
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Required
