[Desktop Entry]
Name=Example
Comment=Example plasmoid

Type=Service
Icon=help-about
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Doom Guy
X-KDE-PluginInfo-Email=doomguy@hell.inc
X-KDE-PluginInfo-Name=com.github.zren.example
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applets/tree/master/com.github.zren.example
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
