[Desktop Entry]
Name=Command Output
Comment=Run a command periodically and render it's output.

Type=Service
Icon=utilities-terminal
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=com.github.zren.commandoutput
X-KDE-PluginInfo-Version=3
X-KDE-PluginInfo-Website=https://github.com/Zren/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
