[Desktop Entry]
Name=Show Desktop (Win7)
Name[ar]=أظهر سطح المكتب (Win7)
Name[bs]=Prikaži radnu površinu (Win7)
Name[ca]=Mostra l'escriptori (Win7)
Name[ca@valencia]=Mostra l'escriptori (Win7)
Name[cs]=Zobrazit plochu (Win7)
Name[da]=Vis skrivebord (Win7)
Name[de]=Arbeitsfläche anzeigen (Win7)
Name[el]=Εμφάνιση επιφάνειας εργασίας (Win7)
Name[en_GB]=Show Desktop (Win7)
Name[es]=Mostrar el escritorio (Win7)
Name[et]=Töölaua näitamine (Win7)
Name[eu]=Erakutsi mahaigaina (Win7)
Name[fi]=Näytä työpöytä (Win7)
Name[fr]=Afficher un bureau (Win7)
Name[ga]=Taispeáin an Deasc (Win7)
Name[gl]=Mostrar o escritorio (Win7)
Name[he]=הצג שולחן עבודה (Win7)
Name[hr]=Prkaži radnu površinu (Win7)
Name[hu]=A munkaasztal megjelenítése (Win7)
Name[is]=Sýna skjáborðið (Win7)
Name[it]=Mostra desktop (Win7)
Name[ja]=デスクトップを表示 (Win7)
Name[kk]=Үстел бетін көрсету (Win7)
Name[km]=បង្ហាញ​ផ្ទៃតុ (Win7)
Name[ko]=데스크톱 보이기 (Win7)
Name[ku]=Sermasê Nîşan Bide (Win7)
Name[lt]=Rodyti darbalaukį (Win7)
Name[lv]=Parādīt darbvirsmu (Win7)
Name[mr]=डेस्कटॉप दर्शवा (Win7)
Name[nb]=Vis skrivebord (Win7)
Name[nds]=Schriefdisch wiesen (Win7)
Name[nl]=Bureaublad tonen (Win7)
Name[nn]=Vis skrivebord (Win7)
Name[pa]=ਡੈਸਕਟਾਪ ਵੇਖੋ (Win7)
Name[pl]=Pokaż pulpit (Win7)
Name[pt]=Mostrar o Ecrã (Win7)
Name[pt_BR]=Exibir a área de trabalho (Win7)
Name[ro]=Arată biroul (Win7)
Name[ru]=Показать рабочий стол (Win7)
Name[sk]=Zobraziť plochu (Win7)
Name[sl]=Pokaži namizje (Win7)
Name[sq]=Shfaq Hapësirën e Punës (Win7)
Name[sr]=приказ површи (Win7)
Name[sr@ijekavian]=приказ површи (Win7)
Name[sr@ijekavianlatin]=prikaz površi (Win7)
Name[sr@latin]=prikaz površi (Win7)
Name[sv]=Visa skrivbord (Win7)
Name[th]=แสดงพื้นที่ทำงาน (Win7)
Name[tr]=Masaüstünü Göster (Win7)
Name[ug]=ئۈستەلئۈستىنى كۆرسەت (Win7)
Name[uk]=Показати стільницю (Win7)
Name[wa]=Mostrer scribanne (Win7)
Name[x-test]=xxShow Desktopxx (Win7)
Name[zh_CN]=显示桌面 (Win7)
Name[zh_TW]=顯示桌面 (Win7)
Comment=Show the Plasma desktop
Comment[ar]=أظهر سطح مكتب بلازما
Comment[bs]=Prikazi plazma površ
Comment[ca]=Mostra l'escriptori Plasma
Comment[ca@valencia]=Mostra l'escriptori Plasma
Comment[cs]=Zobrazení plochy Plasmy
Comment[da]=Viser Plasmas skrivebord.
Comment[de]=Die Plasma-Arbeitsfläche anzeigen
Comment[el]=Εμφάνιση της επιφάνειας εργασίας plasma
Comment[en_GB]=Show the Plasma desktop
Comment[es]=Mostrar el escritorio de Plasma
Comment[et]=Plasma töölaua näitamine
Comment[eu]=Erakutsi Plasma mahaigaina
Comment[fi]=Näyttää työpöydän
Comment[fr]=Afficher le bureau Plasma
Comment[ga]=Taispeáin an deasc Plasma
Comment[gl]=Mostra o escritorio Plasma
Comment[he]=מציג את שולחן העבודה Plasma
Comment[hr]=Prikaži radnu površinu Plasme
Comment[hu]=A Plazma munkaasztal megjelenítése
Comment[is]=Sýna Plasmaskjáborðið
Comment[it]=Mostra il desktop di Plasma
Comment[ja]=Plasma デスクトップを表示します
Comment[kk]=Plasma үстелінің бетін көрсету
Comment[km]=បង្ហាញ​ផ្ទៃតុ​ប្លាស្មា
Comment[ko]=Plasma 데스크톱 보이기
Comment[ku]=Sermase ya Plasma nîşan bide
Comment[lt]=Rodo Plasma darbalaukį
Comment[lv]=Parāda Plasma darbvirsmu
Comment[mr]=प्लाज्मा डेस्कटॉप दर्शवा
Comment[nb]=Vis Plasma-skrivebordet
Comment[nds]=Den Plasma-Schriefdisch wiesen
Comment[nl]=Toont het Plasma-bureaublad
Comment[nn]=Vis Plasma-skrivebordet
Comment[pa]=ਪਲਾਜ਼ਮਾ ਡੈਸਕਟਾਪ ਵੇਖੋ
Comment[pl]=Pokazuje pulpit Plazmy
Comment[pt]=Mostrar o ecrã do Plasma
Comment[pt_BR]=Mostra a área de trabalho do Plasma
Comment[ro]=Arată biroul Plasma
Comment[ru]=Показать рабочий стол Plasma
Comment[sk]=Zobrazenie plochy Plasmy
Comment[sl]=Pokaži namizje Plasma
Comment[sr]=Баците поглед на плазма површ
Comment[sr@ijekavian]=Баците поглед на плазма површ
Comment[sr@ijekavianlatin]=Bacite pogled na plasma površ
Comment[sr@latin]=Bacite pogled na plasma površ
Comment[sv]=Visa Plasmas skrivbord
Comment[th]=แสดงพื้นที่ทำงานของพลาสมา
Comment[tr]=Plasma masaüstünü göster
Comment[uk]=Показує стільницю Плазми
Comment[wa]=Mostrer l' sicribanne Plasma
Comment[x-test]=xxShow the Plasma desktopxx
Comment[zh_CN]=显示 Plasma 桌面
Comment[zh_TW]=顯示 Plasma 桌面


Type=Service
Icon=user-desktop
ServiceTypes=Plasma/Applet

X-KDE-PluginInfo-Author=Petri Damstén + Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=org.kde.plasma.win7showdesktop
X-KDE-PluginInfo-Version=4
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applets/tree/master/org.kde.plasma.win7showdesktop
X-KDE-PluginInfo-Category=Windows and Tasks
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-MainScript=ui/main.qml
X-Plasma-API=declarativeappletscript

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-FormFactors=desktop
