[Desktop Entry]
Name=Tiled Menu
Comment=A menu based on Windows 10's Start Menu.

Type=Service
Icon=start-here-kde
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/Main.qml

X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=com.github.zren.tiledmenu
X-KDE-PluginInfo-Version=8
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applets/tree/master/tiledmenu
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=

X-Plasma-Provides=org.kde.plasma.launchermenu
