[Desktop Entry]
Name=TodoList
Comment=

Type=Service
Icon=view-list-symbolic
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=com.github.zren.todolist
X-KDE-PluginInfo-Version=6
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applets/tree/master/todolist
X-KDE-PluginInfo-KdeStoreId=1152230
X-KDE-PluginInfo-Category=Utilities
X-KDE-PluginInfo-Depends=
