[Desktop Entry]
Name=Battery Time
Comment=Minutes left

Type=Service
Icon=battery
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml

X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Name=com.github.zren.batterytime
X-KDE-PluginInfo-Version=4
X-KDE-PluginInfo-Website=https://github.com/Zren/
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-Depends=
