[Desktop Entry]
Name=Event Calendar
Comment=Plasmoid for a calendar+agenda with weather that syncs to Google Calendar.

Icon=view-calendar
Type=Service

X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.eventcalendar
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applet-eventcalendar
X-KDE-PluginInfo-KdeStoreId=998901
X-KDE-PluginInfo-Version=76
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date

Name[da]=Begivenhedskalender
Name[de]=Ereigniskalender
Name[el]=Ημερολόγιο Συμβάντων
Name[es]=Calendario de Eventos
Name[fi]=Tapahtumakalenteri
Name[fr]=Calendrier des événements
Name[he]=לוח שנה עם אירועים
Name[it]=Calendario Eventi
Name[ja]=イベントカレンダー
Name[nl]=Afsprakenboek
Name[pt_BR]=Calendário de eventos
Name[pt_PT]=Calendário de eventos
Name[ru]=Календарь событий
Name[sl]=Koledar z dnevnim redom
Name[tr]=Etkinlik Takvimi
Name[uk]=Календар подій
Comment[de]=Miniprogramm für einen Kalender mit Ereignisansicht und Wetter, der Ereignisse mit Google Kalender synchronisiert.
Comment[fi]=Plasmoidi kalenteri + agenda säätietoineen synkronoitu Google Calendarin kanssa.
Comment[he]=יישומון לוח שנה וסדר יום שמסתנכרן עם Google Calendar ועם גישה ישירה לתחזית מזג האוויר.
Comment[it]=Plasmoide per un calendario+agenda con meteo che si sincronizza con Google Calendar.
Comment[nl]=Een plasmoid met kalender, agenda en weer die synchroniseert met Google Agenda.
Comment[pt_BR]=Plasmoide para um calendário e agenda com informações do clima que sincroniza com o Google Agenda.
Comment[pt_PT]=Plasmoid para um calendário+agenda com Meteorologia que sincroniza com o Calendário Google.
Comment[ru]=Календарь событий с погодой и синхронизацией с Google Calendar
Comment[sl]=Vtičnik za koledar z dnevnim redom in vremensko napovedjo, ki se usklajuje z Googlovim koledarjem.
Comment[sv]=Plasmoid för kalender och agenda med väder som synkroniseras med Google Kalender.
