[Desktop Entry]
Name=Event Calendar
Comment=Plasmoid for a calendar+agenda with weather that syncs to Google Calendar.

Icon=view-calendar
Type=Service

X-KDE-PluginInfo-Author=Chris Holland
X-KDE-PluginInfo-Email=zrenfire@gmail.com
X-KDE-PluginInfo-Category=Date and Time
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.eventcalendar
X-KDE-PluginInfo-Website=https://github.com/Zren/plasma-applet-eventcalendar
X-KDE-PluginInfo-KdeStoreId=998901
X-KDE-PluginInfo-Version=73
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.time,org.kde.plasma.date

Name[da]=Begivenhedskalender
Name[de]=Kalender des Ereignisses
Name[el]=Ημερολόγιο Συμβάντων
Name[es]=Calendario de Eventos
Name[fr]=Calendrier des événements
Name[it]=Calendario Eventi
Name[ja]=イベントカレンダー
Name[nl]=Afsprakenboek
Name[pt_BR]=Calendário de eventos
Name[ru]=Календарь событий
Name[tr]=Etkinlik Takvimi
Name[uk]=Календар подій
Comment[it]=Plasmoide per un calendario+agenda con meteo che si sincronizza con Google Calendar.
Comment[nl]=Een plasmoid met kalender, agenda en weer die synchroniseert met Google Agenda.
Comment[ru]=Календарь событий с погодой и синхронизацией с Google Calendar
Comment[sv]=Plasmoid för kalender och agenda med väder som synkroniseras med Google Kalender.
